# Config README:
#
# Copy config.py.EXAMPLE to config.py and apply your settings. Do not attempt
# to check it in.
#
# If you add a new configuration field to config.py, also add it to the .EXAMPLE
# file.

class settings(object):
    DEBUG = True
    SECRET_KEY = 'Random string here'

    # Oauth settings
    CONSUMER_SECRET = 'zjfnyzPriCZERJmapHsVeMnrGJU'
    CONSUMER_KEY = '81VexWf3Q8eXBQ'

    # Reddit settings
    MINIMUM_USER_AGE_DAYS = 30

    # Note: must match host in oauth redirect URL
    HOST = '127.0.0.1'
    PORT = 5000

