
.flair {
  display:inline-block;
  height:30px;
  margin-right:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  overflow:hidden;
  font-size:inherit;
  line-height:18px;
  vertical-align:middle;
  color:#000;
  background-color:transparent;
  padding:0;

  width:auto;
  padding-right:7px;
}

.user-table td {
  vertical-align: middle !important;
}

.flair:before {
  content:"";
  display:inline-block;
  width:30px;
  height:30px;
  margin-right:0;
  vertical-align:middle;
  background-image:url(http://b.thumbs.redditmedia.com/XTlGUtUhxJyTnUss.png);
  background-position:-9999px -9999px;
  background-repeat:no-repeat;
}

.flair-Albany:before { background-position:0 0; }
.flair-Binghamton:before { background-position:-45px 0; }
.flair-BostonU:before { background-position:-90px 0; }
.flair-Hartford:before { background-position:-135px 0; }
.flair-Maine:before { background-position:-180px 0; }
.flair-UMBC:before { background-position:-225px 0; }
.flair-NewHampshire:before { background-position:-270px 0; }
.flair-StonyBrook:before { background-position:-315px 0; }
.flair-Vermont:before { background-position:-360px 0; }
.flair-Butler:before { background-position:-405px 0; }
.flair-Charlotte:before { background-position:-450px 0; }
.flair-Dayton:before { background-position:-495px 0; }
.flair-Duquesne:before { background-position:-540px 0; }
.flair-Fordham:before { background-position:-585px 0; }
.flair-GeorgeWashington:before { background-position:-630px 0; }
.flair-Lasalle:before { background-position:-675px 0; }
.flair-Massachusetts:before { background-position:-720px 0; }
.flair-RhodeIsland:before { background-position:-765px 0; }
.flair-Richmond:before { background-position:-810px 0; }
.flair-StJosephs:before { background-position:-855px 0; }
.flair-SaintLouis:before { background-position:-900px 0; }
.flair-StBonaventure:before { background-position:-945px 0; }
.flair-Temple:before { background-position:-990px 0; }
.flair-VirginiaCommonwealth:before { background-position:-1035px 0; }
.flair-Xavier:before { background-position:-1080px 0; }
.flair-BostonColl:before { background-position:-1125px 0; }
.flair-Clemson:before { background-position:-1170px 0; }
.flair-Duke:before { background-position:-1215px 0; }
.flair-FloridaSt:before { background-position:-1260px 0; }
.flair-GeorgiaTech:before { background-position:-1305px 0; }
.flair-Maryland:before { background-position:-1350px 0; }
.flair-Miami:before { background-position:-1395px 0; }
.flair-NorthCarolinaSt:before { background-position:-1440px 0; }
.flair-NorthCarolina:before { background-position:-1485px 0; }
.flair-Virginia:before { background-position:-1530px 0; }
.flair-VirginiaTech:before { background-position:-1575px 0; }
.flair-WakeForest:before { background-position:-1620px 0; }
.flair-EasternTennSt:before { background-position:-1665px 0; }
.flair-FloridaGulfCoast:before { background-position:-1710px 0; }
.flair-Jacksonville:before { background-position:-1755px 0; }
.flair-Kennesaw:before { background-position:-1800px 0; }
.flair-Lipscomb:before { background-position:-1845px 0; }
.flair-Mercer:before { background-position:-1890px 0; }
.flair-NorthernKentuckyNorse:before { background-position:-1935px 0; }
.flair-NorthFlorida:before { background-position:-1980px 0; }
.flair-SouthCarolinaUpstate:before { background-position:-2025px 0; }
.flair-Stetson:before { background-position:-2070px 0; }
.flair-Baylor:before { background-position:-2115px 0; }
.flair-IowaSt:before { background-position:-2160px 0; }
.flair-Kansas:before { background-position:-2205px 0; }
.flair-KansasSt:before { background-position:-2250px 0; }
.flair-Oklahoma:before { background-position:-2295px 0; }
.flair-OklahomaSt:before { background-position:-2340px 0; }
.flair-TCU:before { background-position:-2385px 0; }
.flair-Texas:before { background-position:-2430px 0; }
.flair-TexasTech:before { background-position:-2475px 0; }
.flair-WestVirginia:before { background-position:-2520px 0; }
.flair-Cincinnati:before { background-position:-2565px 0; }
.flair-Connecticut:before { background-position:-2610px 0; }
.flair-DePaul:before { background-position:-2655px 0; }
.flair-Georgetown:before { background-position:-2700px 0; }
.flair-Louisville:before { background-position:-2745px 0; }
.flair-Marquette:before { background-position:-2790px 0; }
.flair-NotreDame:before { background-position:-2835px 0; }
.flair-Pittsburgh:before { background-position:-2880px 0; }
.flair-Providence:before { background-position:-2925px 0; }
.flair-Rutgers:before { background-position:-2970px 0; }
.flair-SetonHall:before { background-position:-3015px 0; }
.flair-SouthFlorida:before { background-position:-3060px 0; }
.flair-StJohns:before { background-position:-3105px 0; }
.flair-Syracuse:before { background-position:-3150px 0; }
.flair-Villanova:before { background-position:-3195px 0; }
.flair-EasternWash:before { background-position:-3240px 0; }
.flair-IdahoSt:before { background-position:-3285px 0; }
.flair-Montanna:before { background-position:-3330px 0; }
.flair-MontanaSt:before { background-position:-3375px 0; }
.flair-NorthDakota:before { background-position:-3420px 0; }
.flair-NorthernArizona:before { background-position:-3465px 0; }
.flair-NorthernColorado:before { background-position:-3510px 0; }
.flair-PortlandSt:before { background-position:-3555px 0; }
.flair-SacramentoSt:before { background-position:-3600px 0; }
.flair-SouthernUtah:before { background-position:-3645px 0; }
.flair-WeberSt:before { background-position:-3690px 0; }
.flair-Campbell:before { background-position:-3735px 0; }
.flair-CharlestonSouth:before { background-position:-3780px 0; }
.flair-CoastalCarolina:before { background-position:-3825px 0; }
.flair-Gardner:before { background-position:-3870px 0; }
.flair-HighPoint:before { background-position:-3915px 0; }
.flair-Liberty:before { background-position:-3960px 0; }
.flair-Longwood:before { background-position:-4005px 0; }
.flair-Presbyterian:before { background-position:-4050px 0; }
.flair-Radford:before { background-position:-4095px 0; }
.flair-NCAsheville:before { background-position:-4140px 0; }
.flair-VirginiaMillitary:before { background-position:-4185px 0; }
.flair-Winthrop:before { background-position:-4230px 0; }
.flair-Illinois:before { background-position:-4275px 0; }
.flair-Indiana:before { background-position:-4320px 0; }
.flair-Iowa:before { background-position:-4365px 0; }
.flair-MichiganSt:before { background-position:-4410px 0; }
.flair-Michigan:before { background-position:-4455px 0; }
.flair-Minnesota:before { background-position:-4500px 0; }
.flair-Nebraska:before { background-position:-4545px 0; }
.flair-Northwestern:before { background-position:-4590px 0; }
.flair-OhioSt:before { background-position:-4635px 0; }
.flair-PennSt:before { background-position:-4680px 0; }
.flair-Purdue:before { background-position:-4725px 0; }
.flair-Wisconsin:before { background-position:-4770px 0; }
.flair-CaliforniaRiverside:before { background-position:-4815px 0; }
.flair-CalPoly:before { background-position:-4860px 0; }
.flair-CSUFullerton:before { background-position:-4905px 0; }
.flair-CSUNorthridge:before { background-position:-4950px 0; }
.flair-Hawaii:before { background-position:-4995px 0; }
.flair-LongBeachSt:before { background-position:-5040px 0; }
.flair-Pacific:before { background-position:-5085px 0; }
.flair-UCDavis:before { background-position:-5130px 0; }
.flair-UCIrvine:before { background-position:-5175px 0; }
.flair-UCSB:before { background-position:-5220px 0; }
.flair-Delaware:before { background-position:-5265px 0; }
.flair-Drexel:before { background-position:-5310px 0; }
.flair-GeorgeMason:before { background-position:-5355px 0; }
.flair-GeorgiaSt:before { background-position:-5400px 0; }
.flair-Hofstra:before { background-position:-5445px 0; }
.flair-JamesMadison:before { background-position:-5490px 0; }
.flair-NCWilmington:before { background-position:-5535px 0; }
.flair-Northeastern:before { background-position:-5580px 0; }
.flair-OldDominion:before { background-position:-5625px 0; }
.flair-Towson:before { background-position:-5670px 0; }
.flair-WilliamMary:before { background-position:-5715px 0; }
.flair-EastCarolina:before { background-position:-5760px 0; }
.flair-Houston:before { background-position:-5805px 0; }
.flair-Marshall:before { background-position:-5850px 0; }
.flair-Memphis:before { background-position:-5895px 0; }
.flair-Rice:before { background-position:-5940px 0; }
.flair-SouthernMethodist:before { background-position:-5985px 0; }
.flair-SouthernMiss:before { background-position:-6030px 0; }
.flair-Tulane:before { background-position:-6075px 0; }
.flair-Tulsa:before { background-position:-6120px 0; }
.flair-UAB:before { background-position:-6165px 0; }
.flair-UCF:before { background-position:-6210px 0; }
.flair-UTEP:before { background-position:-6255px 0; }
.flair-ChicagoSt:before { background-position:-6300px 0; }
.flair-HoustonBaptist:before { background-position:-6345px 0; }
.flair-NJIT:before { background-position:-6390px 0; }
.flair-TexasPanAmerican:before { background-position:-6435px 0; }
.flair-UtahValleyU:before { background-position:-6480px 0; }
.flair-ClevelandSt:before { background-position:-6525px 0; }
.flair-Detroit:before { background-position:-6570px 0; }
.flair-GreenBay:before { background-position:-6615px 0; }
.flair-LoyolaChicago:before { background-position:-6660px 0; }
.flair-WisMilwaukee:before { background-position:-6705px 0; }
.flair-IllinoisChicago:before { background-position:-6750px 0; }
.flair-Valparaiso:before { background-position:-6795px 0; }
.flair-WrightSt:before { background-position:-6840px 0; }
.flair-YoungstownSt:before { background-position:-6885px 0; }
.flair-CSUBakersfield:before { background-position:-6930px 0; }
.flair-NewOrleans:before { background-position:-6975px 0; }
.flair-Brown:before { background-position:-7020px 0; }
.flair-Columbia:before { background-position:-7065px 0; }
.flair-Cornell:before { background-position:-7110px 0; }
.flair-Dartmouth:before { background-position:-7155px 0; }
.flair-Harvard:before { background-position:-7200px 0; }
.flair-Pennsylvania:before { background-position:-7245px 0; }
.flair-Princeton:before { background-position:-7290px 0; }
.flair-Yale:before { background-position:-7335px 0; }
.flair-Canisius:before { background-position:-7380px 0; }
.flair-Fairfield:before { background-position:-7425px 0; }
.flair-Iona:before { background-position:-7470px 0; }
.flair-LoyolaMD:before { background-position:-7515px 0; }
.flair-Manhattan:before { background-position:-7560px 0; }
.flair-Marist:before { background-position:-7605px 0; }
.flair-Niagara:before { background-position:-7650px 0; }
.flair-Rider:before { background-position:-7695px 0; }
.flair-StPeters:before { background-position:-7740px 0; }
.flair-Siena:before { background-position:-7785px 0; }
.flair-Akron:before { background-position:-7830px 0; }
.flair-BallSt:before { background-position:-7875px 0; }
.flair-BowlingGreen:before { background-position:-7920px 0; }
.flair-Buffalo:before { background-position:-7965px 0; }
.flair-CentralMichigan:before { background-position:-8010px 0; }
.flair-EasternMichigan:before { background-position:-8055px 0; }
.flair-KentSt:before { background-position:-8100px 0; }
.flair-MiamiOH:before { background-position:-8145px 0; }
.flair-NorthernIllinois:before { background-position:-8190px 0; }
.flair-Ohio:before { background-position:-8235px 0; }
.flair-Toledo:before { background-position:-8280px 0; }
.flair-WMichigan:before { background-position:-8325px 0; }
.flair-BethuneCookman:before { background-position:-8370px 0; }
.flair-CoppinSt:before { background-position:-8415px 0; }
.flair-DelawareSt:before { background-position:-8460px 0; }
.flair-FloridaAM:before { background-position:-8505px 0; }
.flair-Hampton:before { background-position:-8550px 0; }
.flair-Howard:before { background-position:-8595px 0; }
.flair-MDEasternShore:before { background-position:-8640px 0; }
.flair-MorganSt:before { background-position:-8685px 0; }
.flair-NorfolkSt:before { background-position:-8730px 0; }
.flair-NCAT:before { background-position:-8775px 0; }
.flair-NorthCarolinaCentral:before { background-position:-8820px 0; }
.flair-SavannahSt:before { background-position:-8865px 0; }
.flair-SouthCarolinaSt:before { background-position:-8910px 0; }
.flair-Bradley:before { background-position:-8955px 0; }
.flair-Creighton:before { background-position:-9000px 0; }
.flair-Drake:before { background-position:-9045px 0; }
.flair-Evansville:before { background-position:-9090px 0; }
.flair-IllinoisSt:before { background-position:-9135px 0; }
.flair-IndianaSt:before { background-position:-9180px 0; }
.flair-MissouriSt:before { background-position:-9225px 0; }
.flair-NorthernIowa:before { background-position:-9270px 0; }
.flair-SouthernIllinois:before { background-position:-9325px 0; }
.flair-WichitaState:before { background-position:-9360px 0; }
.flair-AirForce:before { background-position:-9405px 0; }
.flair-BoiseSt:before { background-position:-9450px 0; }
.flair-ColoradoSt:before { background-position:-9495px 0; }
.flair-FresnoSt:before { background-position:-9540px 0; }
.flair-Nevada:before { background-position:-9585px 0; }
.flair-NewMexico:before { background-position:-9630px 0; }
.flair-SanDiegoSt:before { background-position:-9675px 0; }
.flair-UNLV:before { background-position:-9720px 0; }
.flair-Wyoming:before { background-position:-9765px 0; }
.flair-Bryant:before { background-position:-9810px 0; }
.flair-CentralConnSt:before { background-position:-9855px 0; }
.flair-FairDickinson:before { background-position:-9900px 0; }
.flair-LongIslandU:before { background-position:-9945px 0; }
.flair-Monmouth:before { background-position:-9990px 0; }
.flair-MountStMarys:before { background-position:-10035px 0; }
.flair-Quinnipiac:before { background-position:-10080px 0; }
.flair-RobertMorris:before { background-position:-10125px 0; }
.flair-SacredHeart:before { background-position:-10170px 0; }
.flair-StFrancisNY:before { background-position:-10215px 0; }
.flair-StFrancisPA:before { background-position:-10260px 0; }
.flair-Wagner:before { background-position:-10305px 0; }
.flair-AustinPeay:before { background-position:-10350px 0; }
.flair-Belmont:before { background-position:-10395px 0; }
.flair-EasternIllinois:before { background-position:-10440px 0; }
.flair-EasternKentucky:before { background-position:-10485px 0; }
.flair-JacksonvilleSt:before { background-position:-10530px 0; }
.flair-MoreheadSt:before { background-position:-10575px 0; }
.flair-MurraySt:before { background-position:-10620px 0; }
.flair-SIUEdwardsville:before { background-position:-10665px 0; }
.flair-SEMissouriSt:before { background-position:-10710px 0; }
.flair-TennesseeMartin:before { background-position:-10755px 0; }
.flair-TennesseeSt:before { background-position:-10800px 0; }
.flair-TensesseeTech:before { background-position:-10845px 0; }
.flair-ArizonaSt:before { background-position:-10890px 0; }
.flair-Arizona:before { background-position:-10935px 0; }
.flair-Cal:before { background-position:-10980px 0; }
.flair-Colorado:before { background-position:-11025px 0; }
.flair-Oregon:before { background-position:-11070px 0; }
.flair-OregonSt:before { background-position:-11115px 0; }
.flair-Stanford:before { background-position:-11160px 0; }
.flair-UCLA:before { background-position:-11205px 0; }
.flair-USC:before { background-position:-11250px 0; }
.flair-Utah:before { background-position:-11295px 0; }
.flair-Washington:before { background-position:-11340px 0; }
.flair-WashingtonSt:before { background-position:-11385px 0; }
.flair-American:before { background-position:-11430px 0; }
.flair-Army:before { background-position:-11475px 0; }
.flair-Bucknell:before { background-position:-11520px 0; }
.flair-Colgate:before { background-position:-11565px 0; }
.flair-HolyCross:before { background-position:-11610px 0; }
.flair-Lafayette:before { background-position:-11655px 0; }
.flair-Lehigh:before { background-position:-11700px 0; }
.flair-Navy:before { background-position:-11745px 0; }
.flair-Alabama:before { background-position:-11790px 0; }
.flair-Arkansas:before { background-position:-11835px 0; }
.flair-Auburn:before { background-position:-11880px 0; }
.flair-Florida:before { background-position:-11925px 0; }
.flair-Georgia:before { background-position:-11970px 0; }
.flair-Kentucky:before { background-position:-12015px 0; }
.flair-LSU:before { background-position:-12060px 0; }
.flair-Mississippi:before { background-position:-12105px 0; }
.flair-MississippiSt:before { background-position:-12150px 0; }
.flair-Missouri:before { background-position:-12195px 0; }
.flair-SouthCarolina:before { background-position:-12240px 0; }
.flair-Tennessee:before { background-position:-12285px 0; }
.flair-TexasAM:before { background-position:-12330px 0; }
.flair-Vanderbilt:before { background-position:-12375px 0; }
.flair-AppalachianSt:before { background-position:-12420px 0; }
.flair-Charleston:before { background-position:-12465px 0; }
.flair-Chattanooga:before { background-position:-12510px 0; }
.flair-Citadel:before { background-position:-12555px 0; }
.flair-Davidson:before { background-position:-12600px 0; }
.flair-Elon:before { background-position:-12645px 0; }
.flair-Furman:before { background-position:-12690px 0; }
.flair-GeorgiaSouthern:before { background-position:-12735px 0; }
.flair-NCGreensboro:before { background-position:-12780px 0; }
.flair-Samford:before { background-position:-12825px 0; }
.flair-WesternCarolina:before { background-position:-12870px 0; }
.flair-Wofford:before { background-position:-12915px 0; }
.flair-CentralArkansas:before { background-position:-12960px 0; }
.flair-Lamar:before { background-position:-13005px 0; }
.flair-McNeeseSt:before { background-position:-13050px 0; }
.flair-NichollsSt:before { background-position:-13095px 0; }
.flair-NorthwesternSt:before { background-position:-13140px 0; }
.flair-OralRoberts:before { background-position:-13185px 0; }
.flair-SamHoustonSt:before { background-position:-13230px 0; }
.flair-SELouisiana:before { background-position:-13275px 0; }
.flair-StephenFAustin:before { background-position:-13320px 0; }
.flair-TAMUCorpusChristi:before { background-position:-13365px 0; }
.flair-AlabamaAM:before { background-position:-13410px 0; }
.flair-AlabamaSt:before { background-position:-13455px 0; }
.flair-AlcornSt:before { background-position:-13500px 0; }
.flair-ARPineBluff:before { background-position:-13545px 0; }
.flair-GramblingSt:before { background-position:-13590px 0; }
.flair-JacksonSt:before { background-position:-13635px 0; }
.flair-MissValleySt:before { background-position:-13680px 0; }
.flair-PrairieViewAM:before { background-position:-13725px 0; }
.flair-Southern:before { background-position:-13770px 0; }
.flair-TexasSouthern:before { background-position:-13815px 0; }
.flair-IPFW:before { background-position:-13860px 0; }
.flair-IUPUI:before { background-position:-13905px 0; }
.flair-NebraskaOmaha:before { background-position:-13950px 0; }
.flair-NorthDakotaSt:before { background-position:-13995px 0; }
.flair-Oakland:before { background-position:-14040px 0; }
.flair-SouthDakota:before { background-position:-14085px 0; }
.flair-SouthDakotaSt:before { background-position:-14130px 0; }
.flair-UMKC:before { background-position:-14175px 0; }
.flair-WesternIllinois:before { background-position:-14220px 0; }
.flair-ARLittleRock:before { background-position:-14265px 0; }
.flair-ArkansasSt:before { background-position:-14310px 0; }
.flair-FloridaIntl:before { background-position:-14355px 0; }
.flair-FloridaAtlantic:before { background-position:-14400px 0; }
.flair-LALafayette:before { background-position:-14445px 0; }
.flair-LAMonroe:before { background-position:-14490px 0; }
.flair-MiddleTennessee:before { background-position:-14535px 0; }
.flair-NorthTexas:before { background-position:-14580px 0; }
.flair-SouthAlabama:before { background-position:-14625px 0; }
.flair-Troy:before { background-position:-14670px 0; }
.flair-WKU:before { background-position:-14715px 0; }
.flair-BrighamYoung:before { background-position:-14760px 0; }
.flair-Gonzaga:before { background-position:-14805px 0; }
.flair-LoyolaMarymount:before { background-position:-14850px 0; }
.flair-Pepperdine:before { background-position:-14895px 0; }
.flair-Portland:before { background-position:-14940px 0; }
.flair-StMarys:before { background-position:-14985px 0; }
.flair-SanDiego:before { background-position:-15030px 0; }
.flair-SanFrancisco:before { background-position:-15075px 0; }
.flair-SantaClara:before { background-position:-15120px 0; }
.flair-Denver:before { background-position:-15165px 0; }
.flair-Idaho:before { background-position:-15210px 0; }
.flair-LouisianaTech:before { background-position:-15255px 0; }
.flair-NewMexicoSt:before { background-position:-15300px 0; }
.flair-SanJoseSt:before { background-position:-15345px 0; }
.flair-Seattle:before { background-position:-15390px 0; }
.flair-TXArlington:before { background-position:-15435px 0; }
.flair-TexasSt:before { background-position:-15480px 0; }
.flair-UtahSt:before { background-position:-15525px 0; }
.flair-UTSA:before { background-position:-15570px 0; }
